

<h3>Results:</h3>


<div class="container">

  

  Topic: <%= @round.deck.topic %><br>
  Correct Guesses: <%= @round.num_correct %><br>
  Incorrect Guesses: <%= @round.num_incorrect %><br>
  Total Guesses: <%= @round.num_correct + @round.num_incorrect %><br></br>

 <%= "Come back soon to play again!" unless @round.num_incorrect == 0 %>

</div>


<form action="/" method="get">
  <input type="submit" value="Finish">
</form>
